{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    This is an App that informs you about the weather in different areas
  </h3>
  <p>
    This App allows you to view readings stored for different weather stations. It also allows you to register and log in
    to view all the readings within your stations. You will also have the option to add further readings either manually or automatically.There is also an option to delete and edit readings and stations.
  </p>
</section>